body{
    width: 100%;
    margin: auto;
}
.mainbody{
    width: 80%;
    height: 650px;
    margin-top: 2%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.979);
    box-shadow: 1px 2px 12px hsla(0, 0%, 0%, 0.363);

}
.container1{
    width: 98%;
    margin: 1%;
    height: 250px;
}
.subdisplay{
    width: 93%;
    margin-top: 5%;
    margin-left: 2%;
    height: 40px;
    border-bottom: 2px groove black;
    text-align: right;
    font-size: 22px;
    border-bottom: 2px solid green;
    color: white;
}
.maindisplay{
    width: 93%;
    margin-top: 1%;
    margin-left: 2%;
    height: 80px;
    text-align: right;
    font-size: 50px;
    border-bottom: 2px solid green;
    color: white;
}
.container2{
    width: 98%;
    margin: 1%;
    height: 360px;

}
.operator{
    width: 30px;
    height: 30px;
    margin-left: 2%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.buttons-container{
    width: 90%;
    height: 315px;
    margin-left: 5%;
    margin-top: 2%;

}
.subContainer-button{
    width: 55%;
    margin-left: 2%;
    height: 290px;
    margin-top: 1%;
    float: left;
}
.number-btn{
    background-color: #181717;
    text-align: center;
    font-size: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 192px;
    margin: 0.1%;
    height: 70px;
    float: left;
    box-shadow: 1px 1px 12px whitesmoke;
}
.number-btn:hover{
    background-color: hsla(120, 91%, 34%, 0.631);
    border: 2px groove green;
    
}
.subcontainer-symbols{
    width: 39%;
    height: 290px;
    margin-top: 1%;
    float: left;
    margin-left: 2%;
}
.symbol-btn{
    background-color: #181717;
    text-align: center;
    font-size: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 195px;
    margin: 0.1%;
    height: 70px;
    float: left;
    box-shadow: 1px 1px 12px whitesmoke;
 
}
.symbol-btn:hover{
    background-color: hsla(120, 91%, 34%, 0.631);
    border: 2px groove green
}
.symbol-btnspl{
    text-align: center;
    font-size: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 195px;
    margin: 0.1%;
    height: 70px;
    float: left; 
    background-color: #181717;
    box-shadow: 1px 1px 12px whitesmoke;

}
.symbol-btnspl:hover{
    background-color: hsla(120, 91%, 34%, 0.631);
    border: 3px groove green;

}

@media only screen and (max-width: 985px) {

.number-btn{
    width: 115px;

}
  .symbol-btn{
    width: 132px;

  }
  .symbol-btnspl{
    width: 132px;
  }

}
